body {
    margin: 0;
    padding: 0;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, PMingLiu, MingLiu, 微软雅黑,
    "Microsoft YaHei", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

pre {
    background: #000;
    padding: 5px;
    overflow: auto;
}

code {
    font-family: consolas;
    font-size: 13px;
    color: #fff;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

